@import "~bulma/bulma";

.brand {
  margin-top: 1em;
  margin-bottom: 0;
}

.auth-container {
  width: 30%;
}

.input-container {
  padding: .3em;
}

.gif-label {
  margin-top: auto;
}

.gif-title {
  padding-bottom: 1em;
}

.tag-select {
  display: contents;
}
